body {
    /* background-color: royalblue;
    color: seashell; */
    background-image: url("./images/background-square.png");
    background-repeat: repeat-y-x;
}

.name-at-top {
    color: snow;
}

.name-in-navbar {
padding-left: 2%;
padding-bottom: 1%;
}

nav {
    background-image: radial-gradient(circle, #4179A6,#326894);
    box-shadow: 5px 10px 18px #888888;
}

.navbar-brand {
font-size: 5rem;
}

.name-in-navbar {
    font-family: 'Odibee Sans';
}

h1 {
    
    color: snow;
}

h2 {
    font-family: 'Roboto';
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

h3 {
    font-family: 'Roboto';
    padding-left: 20%;
    padding-right: 20%
}

h5 {
    font-family: 'Roboto';
    text-align: center;
}

p {
    font-family: 'Roboto';
}

.text-on-white-background {
    color: #326894
}

#bioPage {
    
    /* dark blue #144876 */
    /* middle blue #296291 */
    /* light blue #4179A6 */
    color: #4179A6;
    padding-top: 5%;;
    padding-bottom: 5%;
}

#technologiesPage {
    /* background-color: #4179A6; */
    /* background-image: radial-gradient(circle, #4179A6,#296291, #144876); */
    background-image: radial-gradient(circle, #4179A6,#326894);
    box-shadow: 0px 10px 20px #888888;
    color: seashell;
    /* padding-top: 5%;;
    padding-bottom: 5%; */
    /* padding: 5% */
}

/* .icons {
    justify-items: center;
} */

.tech-icon {
    padding: 15px;
    margin-bottom: 25px;

}

.card-body {
    box-shadow: 0px 10px 20px #888888;
    margin-bottom: 50px;

}

.card-body img {
margin-bottom: 15px;
}

#projectsPage {
   
    color: #4179A6;
}

#resumePage {
    background-image: radial-gradient(circle, #4179A6,#326894);
    color: seashell;
    padding-top: 5%;;
    padding-bottom: 5%;
}

img {
width: 100%;
height: auto;
}

.page-footer {
    background-color: snow;
    
}