body {
    /* background-color: royalblue;
    color: seashell; */
    background-image: url("./images/background-square.png");
    background-repeat: repeat-y-x;
}

.name-at-top {
    color: snow;
}

nav {
    background-image: radial-gradient(circle, #4179A6,#326894);
}

h1 {
    color: snow;
}

h2 {
    text-align: center;
    padding-bottom: 5%;
}

h3 {
    padding-left: 20%;
    padding-right: 20%
}

h5 {
    text-align: center;
}

#bioPage {
    
    /* dark blue #144876 */
    /* middle blue #296291 */
    /* light blue #4179A6 */
    color: #4179A6;
    padding-top: 5%;;
    padding-bottom: 5%;
}

#technologiesPage {
    /* background-color: #4179A6; */
    /* background-image: radial-gradient(circle, #4179A6,#296291, #144876); */
    background-image: radial-gradient(circle, #4179A6,#326894);
    color: seashell;
    padding-top: 5%;;
    padding-bottom: 5%;
}

#projectsPage {
   
    color: #4179A6;
    padding-top: 5%;;
    padding-bottom: 5%;
    margin-bottom: 5%;
}

#resumePage {
    background-image: radial-gradient(circle, #4179A6,#326894);
    color: seashell;
    padding-top: 5%;;
    padding-bottom: 5%;
}

img {
max-width: 25%;
max-height: 25%;
}

.page-footer {
    background-color: snow;
    
}