body {
    background-color: royalblue;
    color: seashell;
}

h2 {
    text-align: center;
}

h3 {
    padding-left: 20%;
    padding-right: 20%
}

h5 {
    text-align: center;
}

#bioPage {
    background-color: seashell;
    color: royalblue;
    padding-top: 5%;;
    padding-bottom: 5%;
}

#technologiesPage {
    background-color: royalblue;
    color: seashell;
    padding-top: 5%;;
    padding-bottom: 5%;
}

#projectsPage {
    background-color: seashell;
    color: royalblue;
    padding-top: 5%;;
    padding-bottom: 5%;
}

img {
max-width: 25%;
max-height: 25%;
}

.page-footer {
    background-color: royalblue;
    color: seashell;
}