@import 'src/styles/variables';

* {
  box-sizing: border-box;
}


body {
  margin: 0;
}


nav {
  
  .name-in-navbar {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: $color-3;
    font-size: 5rem;
    margin-left: 5%;
  }

  #nav-link.hover {
    color: $color-3;
  }


  .navbar-nav{
    font-size: 1.5rem;
  padding: 5%;
  }


  .navbar-brand-left {
    transform: rotate(-90deg);
    margin-right: 3%;
  }
  
}


.navbar-brand {
  margin-bottom: 0px;
}


a {
  color: $color-4;
}


.hover-border {
  position: relative;
  color: $color-4;
}


.hover-border::after {
  content: '';
  width: 0px;
  height: 3px;
  position: absolute;
  bottom: 0%; left: 50%;
  background-color: $color-1;
  transition: all 500ms ease;
}


.hover-border:hover::after {
  left: 0%;
  width: 100%;
}
