@import 'src/styles/variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}


nav {
  padding-top: 0;
  border-style: solid;
  border-color: $color-3;
  border-bottom-width: 5px;
  border-left-width: 0px;

.navbar {
  padding-top: 0px;
}
  .name-in-navbar {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: $color-3;
    font-size: 5rem;
    margin-left: 5%;
  }

  .nav-item {
    font-size: larger;
  }

  .navbar-brand {
    padding-top: 0;
  }
}


.navbar-brand {
  margin-bottom: 0px;
}

