@import 'src/styles/variables';

.section-divider-line {
  border-style: solid;
  border-width: 3px;
  border-color: $color-3;
  margin-left: 33%;
  margin-right: 33%;
  margin-bottom: 3%;
  justify-content: center;
}

.section-title { 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  padding-top: 5%;
  margin-bottom: 1%;
  color: $color-3;
  text-align: center;
}

// .fullPage {
//   margin-bottom: 3%;
// }


#technologiesPage {
  background-color: $color-4;
  // margin-top: 3%;
}

.icons {
  padding-bottom: 5%;
}

 
#bioPage {
  height: 65vh;
  width: 100%;
  margin-bottom: 30px;
}

h3 {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
  text-align: center;
  color: $color-4;
}

//technologies

.tech-icon {
  color: $color-3;
  margin: 15px;
}
.tech-icon:hover {
  color: $color-2;
  transition: 500ms;
  transition-timing-function: ease-out;
}

// projects
.card-body {
  background-color: $color-4;

    a {
      color: $color-3;
    }
}

//resume

#resumePage {
  background-color: $color-4;
  height: 100vh;
}
