$background: #26282B;

$color-1:  #91333C;
$color-1-hightlight:  #A1363C;

$color-2: #338E3A;
$color-2-hightlight:  #37A041;

$color-3: #34718C;
$color-3-hightlight: #38799E;

$section-title: margin 20%;
