@import '../styles/variables';

.page-footer {
background-color: $color-1;
}

h5 {
  color: $color-4;
  text-align: center;

}

.page-footer p {
  margin: auto;
  color: $color-4;
  text-align: center;
}
