
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "variables";
@import "banner";
@import "sections";


body {
  background-color: $background;
};
svg {
  height: 5%;
  width: 5%;
  margin-left: 5%;
}

h2 {
  color: $color-3;
}

h3 {
  color: white;
}


